<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RequestManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RequestManager.Properties.Settings>
            <setting name="REQ_IN_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="REQ_OUT_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="IMAP_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGIN" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="FOLDER" serializeAs="String">
                <value />
            </setting>
        </RequestManager.Properties.Settings>
    </userSettings>
</configuration>