<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RequestManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RequestManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RequestManager.Properties.Settings>
            <setting name="REQ_IN_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="REQ_OUT_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="IMAP_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGIN" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQL_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQL_UID" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQL_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="CLEAR_OUT_DIR" serializeAs="String">
                <value>False</value>
            </setting>
        </RequestManager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RequestManager.Properties.Settings>
      <setting name="MSSQL_RESPONSE_TABLE" serializeAs="String">
        <value>Responses</value>
      </setting>
      <setting name="MSSQL_DBNAME" serializeAs="String">
        <value>RQSTS_MNGR</value>
      </setting>
      <setting name="MSSQL_USERS_TABLE" serializeAs="String">
        <value>Users</value>
      </setting>
      <setting name="MSSQL_REQUESTS" serializeAs="String">
        <value>Requests</value>
      </setting>
    </RequestManager.Properties.Settings>
  </applicationSettings>
</configuration>